.highlight {
    background-color: rgba(255, 255, 0, 0.3);
    transition: background-color 1s ease;
}
.send-message-animation {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}